:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --text-decoration-color: #757575;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  color: var(--text-decoration-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Roboto;
}

p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
}

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* наведение курсором #2196F3 */
/* бэкграунд 1 #2F303A */
/* бэкграунд 2 #F5F4FA */

.logotipe-link {
  font-family: Raleway;
  font-weight: bold;
  margin-right: 93px;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}
.logotipe-link > .logotipe-part {
  color: #000000;
}

/* ===========HEADER=============== */

.navigation-list {
  display: flex;
}

.navigation-list-item {
  margin-right: 50px;
}

.navigation-list-item:last-child {
  margin-right: 0;
}

.navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.auth-navigation-list {
  display: flex;
}

.auth-list-item {
  margin-right: 50px;
}

.auth-list-item:last-child {
  margin-right: 0;
}

.navigation-list-item:last-child {
  margin-right: 0;
}

.mailto-link {
  display: block;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-style: normal;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--text-decoration-color);
}
.mailto-link:hover,
.mailto-link:focus {
  color: var(--accent-color);
}

.tel-link {
  display: block;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: var(--text-decoration-color);
}
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

.auth-navigation-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ===========END HEADER=============== */

/* ============HERO=============== */

.section-title {
  color: var(--main-color);
}

.hero {
  width: 100%;
  height: 600;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  background-color: #2f303a;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-title {
  font-style: normal;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

/* Кнопка */

.modal-btn {
  font-family: inherit;
  font-weight: bold;
  padding: 10px 32px;
  min-width: 200px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #ffffff;
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* ============ END HERO=============== */

/* =============FEATURES============ */

.features-list {
  display: flex;
}

.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  margin-top: 0;
  margin-bottom: 0;
}

.features-title {
  font-style: normal;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.description {
  font-style: normal;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text-decoration-color);
}

/* =============END FEATURES============ */

/* =============ABOUT================== */

.about-list {
  display: flex;
}
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 50px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.about-img {
  margin-top: 0;
  margin-bottom: 0;
}

/* =============END ABOUT================== */

/* ===============TEAM==================== */

.team-list {
  display: flex;
}

.team-section {
  padding-top: 94px;
  padding-bottom: 0;
}

.team-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-decoration-color);
}

.team-list {
  cursor: pointer;
}

.team-img {
  margin-top: 0;
  margin-bottom: 30px;
}

/* ===============END TEAM==================== */

.footer {
  width: 100%;
  height: 600;
  background: #2f303a;
}

.footer-map {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* ===============PORTFOLIO==================== */

.header .container {
  display: flex;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 4px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.portfolio-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-decoration-color);
}

.portfolio-list-img {
  margin-top: 0;
  margin-bottom: 20px;
}

/* ===============END PORTFOLIO==================== */

/* ===============BUTTON==================== */
.portfolio-btn {
  font-family: inherit;
  min-width: 73px;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  background-color: #f5f4fa;
  color: var(--main-color);
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* ===============END BUTTON=================== */

/* ===============OUTLINE=================== */
.container {
  outline: 2px solid tomato;
}

.navigation {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  justify-content: space-between;
  outline: 2px solid tomato;
}
.logotipe-link {
  outline: 2px solid tomato;
}
.navigation-link {
  outline: 2px solid tomato;
}
.mailto-link {
  outline: 2px solid tomato;
}
.tel-link {
  outline: 2px solid tomato;
}
.cursor {
  outline: 2px solid tomato;
}
.hero {
  outline: 2px solid tomato;
}
.features {
  outline: 2px solid tomato;
}
.features-title {
  outline: 2px solid tomato;
}
.description {
  outline: 2px solid tomato;
}
.about {
  outline: 2px solid tomato;
}
.about-img {
  outline: 2px solid tomato;
}
.team {
  outline: 2px solid tomato;
}
.title {
  outline: 2px solid tomato;
}
.team-img {
  outline: 2px solid tomato;
}
.team-title {
  outline: 2px solid tomato;
}
.team-description {
  outline: 2px solid tomato;
}
.footer-map {
  outline: 2px solid tomato;
}
.portfolio {
  outline: 2px solid tomato;
}
.portfolio-btn {
  outline: 2px solid tomato;
}
.portfolio-list-img {
  outline: 2px solid tomato;
}
.portfolio-title {
  outline: 2px solid tomato;
}
.portfolio-description {
  outline: 2px solid tomato;
}
/* ===============OUTLINE=================== */
