:root {
  --accent-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  color: #757575;
}

ul {
  list-style: none;
}

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* наведение курсором #2196F3 */
/* бэкграунд 1 #2F303A */
/* бэкграунд 2 #F5F4FA */

.logotipe-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logotipe-link > .logotipe-part {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

/* ===========HEADER=============== */

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.mailto-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
}
.mailto-link:hover,
.mailto-link:focus {
  color: var(--accent-color);
}

.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: #757575;
}
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

/* ===========END HEADER=============== */

/* ============HERO=============== */

.section-title {
  color: #212121;
}

.hero {
  width: 100%;
  height: 600;
  background-color: #2f303a;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

/* Кнопка */

.modal-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
}

/* ============ END HERO=============== */

/* =============FEATURES============ */

.features-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

/* =============END FEATURES============ */

/* =============ABOUT================== */
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* =============END ABOUT================== */

/* ===============TEAM==================== */

.team-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ===============END TEAM==================== */

footer {
  width: 100%;
  height: 600;
  background: #2f303a;
}

.footer-map {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* ===============PORTFOLIO==================== */

.portfolio-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ===============END PORTFOLIO==================== */

/* ===============BUTTON==================== */
.portfolio-btn {
  color: #212121;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/* ===============END BUTTON=================== */
